# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg

# Virtual environments
venv/
.venv/

# Conda installers
Miniforge3-*.sh

# Local data & outputs (large, machine-specific)
data/
outputs/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Pip
requirements.txt
